body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}
.title{
    text-align: center;
}
.row{
    display: flex;
}
.column{
    padding: 10px;
}
.green{
    border: 5px solid green;
}
.red{
    border: 5px solid red;
}
#atk{
    margin-top: 150px;
}
#dfnd{
    margin-top: 150px;
}