/* all pages */
body{
    background-color: #84F1FF;
}
.topbackground{
    width: 100%;
    background-color: #6B9FFF;
    border-bottom: 5px solid white;
}
header{
    border-radius: 30px;
    background-color: #6DB9E8;
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    font-size: xx-large;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    float: right;
    margin-left: auto;
}
/* indexPage */
.contentindex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 100px;
    background-color: white;
}
/* portfolioPage */

/* contactPage */
.contentcontact{
    margin: 0 auto;
    width: 40%;
}
.pictures{
    margin-top: 50px;
    margin-left: 200px;
}
.clickable{
    margin-left: 50px;
}
.main{
    float: left;
}
.statement{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

img{
    float: left;
    border-radius: 5px;
}
.inputboxcontact{
    padding: 20px;
    border: 5px solid white;
    margin-top: 100px;
    font-size: large;
    background-color: white;
    border-radius: 15px;
}
#mainimage{
    margin-bottom: 247px;
    margin-top: 247px;
}
.footer-tm{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    background-color: #6DB9E8;
    width: 100%;
    text-align: center;
    border-top: 5px solid white;
    border-bottom: 5px solid #6db9e8;
}
.footer-contact{
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
    background-color: #6DB9E8;
    width: 100%;
    text-align: center;
    border-top: 5px solid white;
    border-bottom: 5px solid #6db9e8;
}
